<div class="container-fluid">
  <div class="sidenav">
    <div class="nav-header">
      <h4>GoodBook</h4>
    </div>
    <div class="actions">
      Add new <a href="#">Chapter</a> or <a href="#">part</a>
    </div>
    <div class="content">

    </div>
  </div>
  <div class="main">
    <div class="row">
     <div class="col">
       <div class="d-inline-flex align-items-center" id="rightSidenavBtn" data-open="true">
         <i class="bi bi-arrow-left-circle"></i>
         <div class="ms-3"><%= @book.title %></div>
       </div>
     </div>

    </div>

    <div class="row">
      <div class="draggable-container">
        <div class="transition-wrapper">
          
        </div>
      </div>
    </div>
  </div>
</div>